<h1>編輯 Keyword Mapping</h1>

<%= render 'form', keyword_mapping: @keyword_mapping %>

<%= link_to '顯示', @keyword_mapping ,class:"btn btn-primary btn-xs"%> |
<%= link_to '回到Keyword mapping', keyword_mappings_path,class:"btn btn-primary btn-xs" %>
